
.readmore{
    display:inline-block;
    font-size: 1rem;
    padding: .5em;
    color: blue;
    text-decoration: none;
}
.img{
    width: 100%;
    margin: left 0%;
    margin-top: 0%;
    height: 100vh;
    margin-bottom: 0%;
}

.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.btn{
  position: absolute;
  top: 12.5%;
  left: 75%; 
  margin-bottom: 10%;
  width: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: whitesmoke;
  color: blue;
  font-size: 15px;
  padding: 10px 70px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.container .btn:hover {
  background-color: black;
}

.read{
    position: absolute;
  top: 11%;
  left: 70%; 
  margin-bottom: 10%;
  width: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: whitesmoke;
  color: blue;
  font-size: 16px;
  padding: 10px 70px;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}

